@model MyTask.Models.DataModel

@{
    ViewBag.Title = "ResultPage";
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}

<div>
    @foreach (var flt in Model.Flights)
    {
        <section class="option-section card">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-9 col-sm-12 mt-2" style="padding: 0;">
                        <div class="row row pl-3 pr-3 pt-3">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <div class="col-md-2">
                                        <div class="pia-img">
                                            <img src="~/Content/TaskContent/images/PK.png" width="100%" />
                                        </div>

                                    </div>
                                    <div class="col-md-6 airport-wrapper-sec">
                                        <div class="airport-wrapper">
                                            <div class="direction-code">
                                                @flt.Origin
                                            </div>
                                        </div>

                                        <div class="interchange">
                                            <div class="interchange-inner">
                                                <!---->
                                            </div>
                                        </div>

                                        <div class="airport-wrapper">
                                            <div class="direction-code">
                                                @flt.Destination
                                            </div>
                                        </div>
                                        <div class="pl-2" style="font-size: 13px; margin-top: 5px;">
                                            <span>@flt.DepartureDate.ToShortDateString()</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right pr-3">
                                        <div class="">
                                            <span class="top-sec">@flt.Stop</span><br>
                                            <span>Class:</span><span> @flt.Cabin</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4 offset-md-2">
                                        <div class="checkbox oneway-checked">
                                            <label class="oneway-label">
                                                <input class="oneway-box-check" type="radio" id="product" value="OneWay" checked>
                                                <div class="top-sec">
                                                    <span class="time-pair">
                                                        <span class="depart-time base-time">@flt.DepartureDate.ToShortTimeString() </span>
                                                        @*<span class="time-meridiem meridiem">am</span>*@
                                                    </span>
                                                    <span class="sep">–</span>
                                                    <span class="time-pair">
                                                        <span class="arrival-time base-time">@flt.ArrivalDate.ToShortTimeString() </span>
                                                        <span class="time-meridiem meridiem">pm</span>
                                                    </span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="display: flex;">
                                        <div class="clock-img mr-2">
                                            <img src="~/Content/TaskContent/images/clock-time.png" width="20" />
                                        </div>
                                        <div class="">
                                            @{
                                                TimeSpan sp = flt.TimeElapsedTS();
                                            }
                                            <span>@(sp.Hours)h @(sp.Minutes)m</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <div class="row">
                                            <div class="col-md-12 pr-3">
                                                <img src="~/Content/TaskContent/images/briefcase.png" width="20" alt="">
                                                <a class="vert-detail" href="#" data-toggle="modal" data-target="#detail">Details</a>
                                            </div>
                                            <div id="detail" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-success-400 pt-2 pb-2">
                                                            <h4 style="margin-bottom: 0;">Flight Detail</h4>
                                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                                        </div>
                                                        <div class="modal-body body-pd">
                                                            <section class="segment-pd">
                                                                <div class="container">
                                                                    <div class="row depart-head">
                                                                        <div class="col-md-7 airport-wrapper-main" style="display: flex;">
                                                                            <div class="airport-wrapper">
                                                                                <div class="direction-code">
                                                                                    @flt.OriginCode
                                                                                </div>
                                                                                <div class="time">
                                                                                    <span class="hour ng-star-inserted">@flt.DepartureDate.ToShortTimeString()</span><!---->
                                                                                    <span class="day">@flt.DepartureDate.ToShortDateString()</span>
                                                                                </div>
                                                                            </div>

                                                                            <div class="interchange">
                                                                                <div class="interchange-inner">
                                                                                    <!---->
                                                                                </div>
                                                                            </div>

                                                                            <div class="airport-wrapper">
                                                                                <div class="direction-code">
                                                                                    @flt.DestinationCode
                                                                                </div>
                                                                                <div class="time">
                                                                                    <span class="hour ng-star-inserted">@flt.ArrivalDate.ToShortTimeString()</span><!---->
                                                                                    <span class="day">@flt.ArrivalDate.ToShortDateString()</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 text-left airport-wrapper-main">
                                                                            <div class="trip-time connection-attributes-section">
                                                                                <div class="trip-time-header connection-attributes-header">
                                                                                    Total trip duration:
                                                                                </div>
                                                                                <div class="total-time connection-attributes-value">

                                                                                    <span class="hour ng-star-inserted">@(sp.Hours)h @(sp.Minutes)min</span><!---->
                                                                                    <span class="stops">
                                                                                        <ins class="sep ng-star-inserted">|</ins><!---->
                                                                                        <span class="stops-count">Direct</span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="connection-attributes-section">
                                                                                <div class="connection-attributes-header">
                                                                                    class:
                                                                                </div>
                                                                                <div class="connection-attributes-value">
                                                                                    @flt.Cabin
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            <section class="first last ng-star-inserted">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="segment">
                                                                                <div class="segment-connection">
                                                                                    <p class="airport text-left">
                                                                                        <span class="airport-name">
                                                                                            <span class="airport-title">Jinnah (KHI)</span>
                                                                                            <ins class="sep">, </ins>
                                                                                            <span class="city-name">Karachi</span>
                                                                                            <ins class="sep">, </ins>
                                                                                            <span class="country-name">Pakistan</span>
                                                                                        </span>
                                                                                        <span class="time">
                                                                                            <span class="segment-direction">departure:</span>
                                                                                            <span class="hour ng-star-inserted">@flt.DepartureDate.ToShortTimeString()</span><!---->
                                                                                            <ins class="sep ng-star-inserted">, </ins><!---->
                                                                                            <span class="day">
                                                                                                @flt.DepartureDate.ToShortDateString()
                                                                                            </span>
                                                                                        </span>
                                                                                        <!---->
                                                                                    </p>
                                                                                    <div class="segment-info-wrapper">
                                                                                        <div class="segment-info collapsed clickable">
                                                                                            <div class="info-header">
                                                                                                <span class="row-img">
                                                                                                    <div class="airline-logo">
                                                                                                        <img src="~/Content/TaskContent/images/PK (2).png" width="30" height="30" alt="">
                                                                                                    </div>
                                                                                                    <span class="airline-info">
                                                                                                        <span class="airline-name">@flt.MarketingAirlineCodeAB</span>
                                                                                                        <span class="qa-segment-airline-name-operated-by ng-star-inserted">operated by Pakistan Airlines</span><!---->
                                                                                                    </span>
                                                                                                </span>
                                                                                                <span class="row-img right">
                                                                                                    <!---->
                                                                                                    <span class="aircraft jet ng-star-inserted">
                                                                                                        <img src="~/Content/TaskContent/images/aircraft.png" alt="">
                                                                                                        <span class="name">@flt.OperatingAirline_Code</span>
                                                                                                    </span><!---->
                                                                                                    <span class="time-duration ng-star-inserted">
                                                                                                        <img src="~/Content/TaskContent/images/clock-time.png" alt="">
                                                                                                        <span class="time">@(sp.Hours)h @(sp.Minutes)m</span>
                                                                                                    </span><!---->
                                                                                                </span>
                                                                                            </div>

                                                                                            <div class="facilities-wrapper">
                                                                                                <div class="ng-star-inserted">
                                                                                                    <div class="facilities-list">
                                                                                                        <div class="facility ng-star-inserted">
                                                                                                            <img src="~/Content/TaskContent/images/briefcase.png" class="icon" alt="">
                                                                                                            <span>
                                                                                                                Checked baggage
                                                                                                                <!---->
                                                                                                                <span class="ng-star-inserted"> included!</span><!---->
                                                                                                                <!---->
                                                                                                            </span>
                                                                                                        </div>
                                                                                                        <div class="facility on-demand ng-star-inserted">
                                                                                                            <img src="~/Content/TaskContent/images/boxes.png" class="icon" alt="">
                                                                                                            <span>
                                                                                                                Seat configuration
                                                                                                                <!---->
                                                                                                                <!---->
                                                                                                                <span class="ng-star-inserted">: 3-3</span><!---->
                                                                                                            </span>
                                                                                                        </div><!---->
                                                                                                    </div>
                                                                                                </div><!---->
                                                                                                <div class="flight-info">
                                                                                                    <span class="number">Flight number: <strong class="flight-number">@flt.FlightNumber</strong></span>
                                                                                                    <span>Class: <strong class="service-class"> @flt.Cabin</strong></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!---->
                                                                                </div>
                                                                                <p class="airport text-left">
                                                                                    <span class="airport-name">
                                                                                        <span class="airport-title">Allama Iqbal (LHE)</span><ins class="sep">, </ins> <span class="city-name">Lahore</span><ins class="sep">, </ins>
                                                                                        <span class="country-name">Pakistan</span>
                                                                                    </span>
                                                                                    <span class="time">
                                                                                        <span class="segment-direction">arrival:</span>
                                                                                        <span class="hour ng-star-inserted">@flt.ArrivalDate.ToShortTimeString()</span><!----><ins class="sep ng-star-inserted">, </ins><!---->
                                                                                        <span class="day">
                                                                                            @flt.ArrivalDate.ToShortDateString()
                                                                                        </span>
                                                                                    </span>
                                                                                    <!---->
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="modal-footer mt-3">
                                                            <button type="button" class="btn btn-dark" data-dismiss="modal" style="padding: 5px 22px;">Close</button>
                                                            <a href="" class="btn btn-primary" style="padding: 5px 22px;">Book Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        @*
                        <div id="mydiv1">
                            <div class="row p-3 mb-2">
                                <div class="col-md-12">
                                    <div class="row mb-3">
                                        <div class="col-md-2">
                                            <div class="pia-img">
                                                <img src="~/Content/TaskContent/images/PK.png" width="100%" alt="">
                                            </div>

                                        </div>
                                        <div class="col-md-6 airport-wrapper-sec">
                                            <div class="airport-wrapper">
                                                <div class="direction-code">
                                                    KHI
                                                </div>
                                            </div>

                                            <div class="interchange">
                                                <div class="interchange-inner">
                                                    <!---->
                                                </div>
                                            </div>

                                            <div class="airport-wrapper">
                                                <div class="direction-code">
                                                    LHE
                                                </div>
                                            </div>
                                            <div class="pl-2" style="font-size: 13px; margin-top: 5px;">
                                                <span>12 Oct (Tue)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-md-right pr-3">
                                            <div class="">
                                                <span class="top-sec">Direct</span><br>
                                                <span>Class:</span><span> Economy</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="checkbox oneway-checked">
                                                <label class="oneway-label">
                                                    <input class="oneway-box-check" type="radio" id="product" value="OneWay" checked>
                                                    <div class="top-sec">
                                                        <span class="time-pair">
                                                            <span class="depart-time base-time">08:00 </span>
                                                            <span class="time-meridiem meridiem">am</span>
                                                        </span>
                                                        <span class="sep">–</span>
                                                        <span class="time-pair">
                                                            <span class="arrival-time base-time">09:45 </span>
                                                            <span class="time-meridiem meridiem">pm</span>
                                                        </span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display: flex;">
                                            <div class="clock-img mr-2">
                                                <img src="~/Content/TaskContent/images/clock-time.png" width="20" alt="">
                                            </div>
                                            <div class="">
                                                <span>1h 45m</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <div class="row">
                                                <div class="col-md-12 pr-3">
                                                    <img src="~/Content/TaskContent/images/briefcase.png" width="20" alt="">
                                                    <a class="vert-detail" href="#" data-toggle="modal" data-target="#detail">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 offset-md-2">
                                            <div class="checkbox oneway-checked">
                                                <label class="oneway-label">
                                                    <input class="oneway-box-check" type="radio" id="product" value="OneWay">
                                                    <div class="top-sec">
                                                        <span class="time-pair">
                                                            <span class="depart-time base-time">11:00 </span>
                                                            <span class="time-meridiem meridiem">am</span>
                                                        </span>
                                                        <span class="sep">–</span>
                                                        <span class="time-pair">
                                                            <span class="arrival-time base-time">12:45 </span>
                                                            <span class="time-meridiem meridiem">pm</span>
                                                        </span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display: flex;">
                                            <div class="mr-2">
                                                <img src="~/Content/TaskContent/images/clock-time.png" width="20" alt="">
                                            </div>
                                            <div class="">
                                                <span>1h 45m</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <div class="row">
                                                <div class="col-md-12 pr-3">
                                                    <img src="~/Content/TaskContent/images/briefcase.png" width="20" alt="">
                                                    <a class="vert-detail" href="#" data-toggle="modal" data-target="#detail">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        *@
                    </div>
                    <div class="col-lg-3 col-md-12 detail-btn-sec">
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <div class="top-sec">
                                    <span>@flt.TotalFare</span>
                                    PKR
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="flight_booking.html" class="btn btn-primary" style="padding: 6px 26px;">Book Now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
                                                }
</div>
